apiVersion: apps/v1
kind: Deployment
metadata:
  name: voos-service
  labels:
    app: voos-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voos-service
  template:
    metadata:
      labels:
        app: voos-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: voos-service
        image: modulo-a:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 50051
          name: grpc
          protocol: TCP
        - containerPort: 8000
          name: metrics
          protocol: TCP
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          tcpSocket:
            port: 50051
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 50051
          initialDelaySeconds: 5
          periodSeconds: 5
